---
import Layout from "@/layouts/Layout.astro";
import { fetchCollections } from "@/utils/cms";
import ThumbnailGrid from "@/components/ThumbnailGrid.astro";

const collections = await fetchCollections();
const works = collections.flatMap((collection) =>
  collection.works.concat(
    collection.subCollections?.flatMap(
      (subCollection) => subCollection.works,
    ) ?? [],
  ),
);
---

<Layout
  pageTitle="Collections"
  metaDescription="Browse Raymond's works in collections."
  preloadImageUrls={works.map((work) => work.image + "&width=200")}
>
  <div
    class="px-safe-screen flex h-full w-full flex-row items-stretch justify-center py-8 lg:py-20"
  >
    <div
      class="max-w-content flex h-full grow flex-col items-stretch justify-start"
    >
      <div class="mb-2">
        <h1 class="w-fit border border-black bg-white p-[3px] text-xs">
          TABLE OF CONTENTS ↗
        </h1>
      </div>
      <div class="mb-2 flex w-full flex-row flex-wrap sm:w-[500px]">
        {
          collections.map((collection, index) => (
            <a
              href={`#${collections.length - index}`}
              class="mr-2 mb-1 text-xs font-light text-gray-500 hover:underline"
            >
              #{collections.length - index} - {collection.title}
            </a>
          ))
        }
      </div>
      <div class="relative border-b border-gray-200"></div>
      {
        collections.map((collection, index) => (
          <>
            <span
              id={`${collections.length - index}`}
              class="mb-1 pt-16 text-xs font-light text-gray-500"
            >
              #{collections.length - index}
            </span>
            <div class="mb-4 flex w-full flex-row flex-wrap items-baseline gap-x-2">
              <h1 class="text-3xl">{collection.title}</h1>
              <span class="text-xs font-light text-gray-500">
                {collection.dates.start}
                {collection.dates.end && ` - ${collection.dates.end}`}
                {collection.status === "in-progress" && " - Now"}
              </span>
            </div>
            <p class="mb-12 w-full text-xs font-light text-gray-500 sm:w-[500px]">
              {collection.description}
            </p>
            <ThumbnailGrid works={collection.works} />
            <>
              {collection.subCollections?.map((subCollection) => (
                <>
                  <div class="flex w-full flex-row items-baseline gap-2">
                    <h1 class="text-2xl">{subCollection.title}</h1>
                    <span class="text-xs font-light text-gray-500">
                      {subCollection.dates.start}
                      {subCollection.dates.end &&
                        ` - ${subCollection.dates.end}`}
                    </span>
                  </div>
                  <>
                    {subCollection.description && (
                      <p class="mt-2 w-full text-xs font-light text-gray-500 sm:w-[500px]">
                        {subCollection.description}
                      </p>
                    )}
                  </>
                  <div class="h-4" />
                  <ThumbnailGrid works={subCollection.works} />
                  <div class="mb-12" />
                </>
              ))}
            </>
            <div class="mt-16 border-b border-gray-200" />
          </>
        ))
      }
    </div>
  </div>
</Layout>
