---
import Layout from "@/layouts/Layout.astro";
import { fetchCollections } from "@/utils/cms";
import ThumbnailGrid from "@/components/ThumbnailGrid.astro";

const collections = await fetchCollections();
const works = collections.flatMap(
	(collection) => collection.works
		.concat(collection.subCollections?.flatMap((subCollection) => subCollection.works) ?? [])
);
---

<Layout pageTitle="Collections" metaDescription="Browse Raymond's works in collections." preloadImageUrls={works.map((work) => work.image + "&width=200")}>
	<div class="h-full w-full px-safe-screen flex flex-row items-stretch justify-center py-8 lg:py-20">
		<div class="h-full grow max-w-content flex flex-col items-stretch justify-start">
			<div class="mb-2">
				<h1 class="bg-white border border-black text-xs p-[3px] w-fit">
					TABLE OF CONTENTS ↗
				</h1>
			</div>
			<div class="w-full sm:w-[500px] flex flex-row flex-wrap mb-2">
				{collections.map((collection, index) => (
					<a
						href={`#${collections.length - index}`}
						class="text-xs font-light text-gray-500 mb-1 mr-2 hover:underline"
					>
						#{collections.length - index} - {collection.title}
					</a>
				))}
			</div>
			<div class="border-b border-gray-200 relative" />
			{collections.map((collection, index) => (
				<span id={`${collections.length - index}`} class="text-xs font-light text-gray-500 mb-1 pt-16">#{collections.length - index}</span>
				<div class="w-full mb-4 flex flex-row flex-wrap items-baseline gap-x-2">
					<h1 class="text-3xl">{collection.title}</h1>
					<span class="text-xs font-light text-gray-500">
						{collection.dates.start}
						{collection.dates.end && ` - ${collection.dates.end}`}
						{collection.status === 'in-progress' && " - Now"}
					</span>
				</div>
				<p class="text-xs font-light text-gray-500 w-full sm:w-[500px] mb-12">{collection.description}</p>
				<ThumbnailGrid works={collection.works} />
				<>
					{collection.subCollections?.map(subCollection => (
						<div class="w-full mb-4 flex flex-row items-baseline gap-2">
							<h1 class="text-2xl">{subCollection.title}</h1>
							<span class="text-xs font-light text-gray-500">{subCollection.dates.start}{subCollection.dates.end && ` - ${subCollection.dates.end}`}</span>
						</div>
						<ThumbnailGrid works={subCollection.works} />
						<div class="mb-12" />
					))}
				</>
				<div class="mt-16 border-b border-gray-200" />
			))}
		</div>
	</div>
</Layout>
